<div class="main">

    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="simple-divider"></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    
    <div class="drawer-renderer">
        <mat-drawer-container class="drawer-container" autosize="true">
            <mat-drawer #drawer class="drawer-sidenav" mode="over">
                <mat-list>
                    <mat-list-item>
                        <a routerLink="/home" (click)="drawer.close()">
                            <mat-icon>home</mat-icon>
                            <span>Home</span>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a routerLink="/crud" (click)="drawer.close()">
                            <mat-icon>edit</mat-icon>
                            <span>CRUD</span>
                        </a>
                    </mat-list-item>
                </mat-list>
            </mat-drawer>
        
            <div class="master-content">
                <router-outlet></router-outlet>
            </div>
            
        </mat-drawer-container>
    </div>

</div>

