.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drawer-renderer {
    flex: 1 1 auto;
    overflow: hidden;
}

.drawer-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.drawer-sidenav {
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

div.master-content {
    padding: 4em;
}
